<header>
    <div id="header">
        <div>
            <a href="/">
                <h1>
                    P<img src="/img/logo.png" alt="">kedex
                </h1>
            </a>
        </div>

        <nav class="desktop">
            <a href="/">Home</a>
            <a href="/cadastro">Cadastro</a>
        </nav>

        <nav class="mobile">
            <img id="mobileImg" src="/img/menu.png" alt="">
            <ul id="mobileUl">
                <a href="/">
                    <li>Home</li>
                </a>
                <a href="/cadastro">
                    <li>Cadastro</li>
                </a>
            </ul>
        </nav>
    </div>
</header>