<div id="absolute">
    <div class="absolute"></div>
    <div class="absolute2">
        <h2 id="h2"></h2>
        <img id="img" src="" alt="">
        <p>click em next para voltar a pokedex ou aguarde 5 segundos para ser rederecionado</p>
        <button onclick="window.location.href='/'">Next</button>
    </div>
</div>