<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedex</title>
    <link rel="shortcut icon" href="https://assets.pokemon.com/static2/_ui/img/favicon.ico">

    <script>
        const pdx = `<%- JSON.stringify(pokedex) %>`;        
        const pokedex = JSON.parse(pdx);
    </script>
</head>
<body>
    <header>
        <div id="header">
            <div>
                <a href="/">
                    <h1>
                        P<img src="/img/logo.png" alt="">kedex
                    </h1>
                </a>
            </div>

            <nav class="desktop">
                <a href="/">Home</a>
                <a href="/cadastro" style="color: black;">Cadastro</a>
            </nav>

            <nav class="mobile">
                <img id="mobileImg" src="/img/menu.png" alt="">
                <ul id="mobileUl">
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a href="/cadastro">
                        <li>Cadastro</li>
                    </a>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <div class="cadastro">
            <h2>Cadastro pokemon</h2>

            <div id="main">
                <section id="cadastroimg">
                    <img src="/img/pokedex.png" alt="">
                </section>
                
                <section id="cadastro">
                    <form class="formulario" action="/add" method="post">

                        <label for="nome">Nome:</label>
                        <input required maxlength="15" type="text" id="nome" name="nome">

                        <label for="tipo">Tipo:</label>
                        <select required name="tipo" id="tipo">
                            <option value=""></option>
                            <option value="Tipo: Bug">Bug</option>
                            <option value="Tipo: Dragao">Dragao</option>
                            <option value="Tipo: Fada">Fada</option>
                            <option value="Tipo: Fogo">Fogo</option>
                            <option value="Tipo: Ghost">Ghost</option>
                            <option value="Tipo: Ground">Ground</option>
                            <option value="Tipo: Normal">Normal</option>
                            <option value="Tipo: Psíquico">Psíquico</option>
                            <option value="Tipo: Steel">Steel</option>
                            <option value="Tipo: Dark">Dark</option>
                            <option value="Tipo: Eletric">Eletric</option>
                            <option value="Tipo: Luta">Luta</option>
                            <option value="Tipo: flying">Flying</option>
                            <option value="Tipo: Planta">Planta</option>
                            <option value="Tipo: Ice">Ice</option>
                            <option value="Tipo: Poison">Poison</option>
                            <option value="Tipo: Rock">Rock</option>
                            <option value="Tipo: Agua">Agua</option>
                        </select>

                        <label for="imagem">Link da imagem:</label>
                        <input required type="text" name="imagem" id="imagem">

                        <label for="descricao">Descrição:</label>
                        <input required type="text" id="descricao" name="descricao">

                        <label for="altura">Altura(m):</label>
                        <input required type="number" min='0.1' step='0.1' id="altura" name="altura">

                        <label for="peso">Peso(kg):</label>
                        <input required type="number" min='0.1' step='0.1' id="peso" name="peso">

                        <label for="categoria">Categoria:</label>
                        <input required type="text" id="categoria" name="categoria">

                        <label for="habilidade">Habilidade:</label>
                        <input required type="text" id="habilidade" name="habilidade">

                        <button id="btn" type="submit">Cadastrar</button>
                    </form>
                </section>
            </div>
        </div>
    </main>

    <footer>
        <a href="http://www.github.com/santos95mat" target="_blank">Powered By Matheus</a>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>