@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

header {
    width: 100%;
    position: relative;
    height: 12vh;
    min-height: 3.5rem;
}

main {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: center;
}

footer {
    width: 100%;
    height: 8vh;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    font-size: 1.5rem;
    background-color: black;
    color: #fff;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* Aqui começa estilo do Header */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    min-height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: red;
    z-index: 5;
}

#header div, #header nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

#header .desktop {
    margin-right: 2vw;
}

#header .mobile {
    display: none;
}

#header div h1 {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    margin-left: 2vw;
}

#header img {
    cursor: pointer;
    width: 3rem;
}

#header div a {
    text-decoration: none;
}

#header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 2rem;
}

#header nav a:hover {
    color: rgb(0, 0, 0);
}

/* Aqui termina estilo do Header */

/* Aqui começa estilo do index.ejs */

#pokedados {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    min-width: 350px;
    gap: 1rem;
}

#pokedados h2 {
    margin-top: 1vh;
    text-align: center;
    width: 100%;
}

#pokedados input {
    height: 5vh;
    width: 70%;
    min-width: 200px;
    min-height: 32px;
    border: solid 1px black;
    font-size: 1rem;
    background-color: #fff;
    padding-left: 1.2vh;
    padding-right: 1.2vh;
    outline: none;
    border-radius: 2px;
}

#pokedados button {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    min-width: 32px;
    min-height: 32px;
    border: none;
    background-color: black;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
}

#pokedados button img {
    width: 50%;
}

#pokedados button:hover {
    background-color: red;
}

#cards {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#cards div.card {
    padding: 1rem;
    width: 10vw;
    min-width: 120px;
    min-height: 140px;
    box-shadow: 5px 5px 5px 5px #00000020;
    cursor: pointer;
    transition: 0.5s ease;
}

#cards div.card:hover {
    transform: scale(1.2);
}

#cards div.card img {
    width: 90%;
    margin-top: 2rem;
    display: flex;
    margin: 1.8vh auto;
}

#cards div.card h2 {
    font-size: 1rem;
    text-align: center;
}

#cards div.card p {
    text-align: left;
}

/* Aqui termina estilo do index.ejs */

/* Aqui começa estilo do cadastro.ejs */

#absolute {
    display: none;
}

#absolute .absolute {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background-color: black;
    opacity: .7
}

#absolute .absolute2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    text-align: center;
    top: 50%;
    margin-top: -30vh;
    left: 50%;
    margin-left: -170px;
    width: 340px;
    height: 60vh;
    background-color: white;
    z-index: 11;
    border-radius: 10px;
}

#absolute .absolute2 h2 {
    margin-top: 1rem;
    width: 98%;
}

#absolute .absolute2 img {
    width: 70%;
}

#absolute .absolute2 p {
    width: 98%;
}

#absolute .absolute2 button {
    width: 100px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #fff;
    background-color: black;
    border: none;
    cursor: pointer;
}

#absolute .absolute2 button:hover {
    background-color: red;
}

#container {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#container h2 {
    margin-bottom: 1rem;
}

#cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
}

#cadastro .cadastroimg {
    width: 50%;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    border-right: solid 3px #00000020;;
}

#cadastro .cadastroimg img {
    width: 70%;
}

#cadastro .cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
}

#cadastro .cadastro form {
    width: 70%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 93, 93);
}

#cadastro .cadastro form input {
    width: 100%;
    height: 1.5rem;
    border: solid 1px rgb(255, 177, 177);
    font-size: 1rem;
    background-color: #fff;
    padding-left: 1.2vh;
    padding-right: 1.2vh;
    outline: none;
    border-radius: 5px;
    margin-bottom: 1vh;
    color: rgb(255, 177, 177);
}

#cadastro .cadastro form select {
    width: 100%;
    height: 1.5rem;
    border: solid 1px rgb(255, 177, 177);
    font-size: 1rem;
    background-color: #fff;
    padding-left: 1.2vh;
    padding-right: 1.2vh;
    outline: none;
    border-radius: 5px;
    margin-bottom: 1vh;
    color: rgb(255, 177, 177);
}

#cadastro .cadastro form button {
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: 100%;
    height: 1.5rem;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
    background-color: black;
}

#cadastro .cadastro form button:hover {
    background-color: red;
}

/* Aqui termina estilo do cadastro.ejs */

/* Aqui começa estilo do detalhe.ejs */

#detalheTitle h2 {
    margin-top: 1rem;
}

#detalhe {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 70%;
    min-width: 350px;
    gap: 2rem;
    margin-bottom: 1rem;
}

#detalhe article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    min-height: 50vh;
    text-align: left;
}

#detalhe .detalhe-img {
    justify-content: flex-end;
}

#detalhe .detalhe-img img {
    width: 70%;
    min-width: 350px;
    align-items: flex-end;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
}

#detalhe .detalhe-txt {
    justify-content: space-between;
    align-content: space-between;
}

#detalhe .detalhe-txt p {
    width: 75%;
    min-width: 350px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: justify;
}

#detalhe .detalhe-txt .status {
    width: 68%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 50%;
    background-color: rgb(119, 210, 252);
    padding: 1rem;
    border-radius: 10px;
    min-width: 340px;
}

#detalhe .detalhe-txt .status h3 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
}

#detalhe .detalhe-txt .status h4 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

/* Aqui termina estilo do detalhe.ejs */

@media screen and (max-width: 920px) {
    #header .mobile {
        display: block;
        margin-right: 2vw;
    }

    #header .mobile img {
        width: 2rem;
    }

    #header .mobile ul {
        display: none;
        background-color: red ;
        position: absolute;
        right: 0;
        top: 100%;
        width: 100%;
        text-align: center;
        border: 1px solid #fff;
        z-index: 1;
    }

    #header .mobile a {
        display: block;
        margin-left: 0;
    }

    #header .mobile ul li {
        width: 100%;
        list-style: none;
        text-decoration: none;
        padding: 0.5rem;
        border-bottom: 1px solid #fff;
        cursor: pointer;
        color: #fff;
    }

    #header .mobile ul li:hover{
        background-color: black;
    }

    #header .mobile ul li a {
        width: 100%;
        margin: 0;
        padding: 0;
        color: #fff;
    }

    #header .desktop {
        display: none;
    }

    #cadastro .cadastroimg {
        display: none;
    }

    #detalhe {
        flex-direction: column;
    }

    #detalhe article {
        width: 90%;
    }

    #detalher .detalhe-img {
        justify-content: center;
    }

    #detalhe .detalhe-txt {
        justify-content: center;
        align-content: space-between;
        align-items: center;
        text-align: center;
        width: 90%;
    }

    #detalhe .detalhe-txt p {
        margin-bottom: 0;
    }

    #detalhe .detalhe-txt .status {
        width: 90%;
    }
}

@keyframes mv {
    0% {
        transform: scale(1.05) rotate(.5deg);
    }
    25% {
        transform: scale(1.04) rotate(-.5deg);
    }
    50% {
        transform: scale(1.03) rotate(.5deg);
    }
    75% {
        transform: scale(1.02) rotate(-.5deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}