@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');*

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

header {
    width: 100%;
    position: relative;
    height: 12vh;
}

a {
    text-decoration: none;
    color: currentColor;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: red;
}

#header div, #header nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

#header .desktop {
    margin-right: 2vw
}

#header .mobile {
    display: none;
}

#header div h1 {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    color: #fff;
    font-size: 3rem;
    cursor: pointer;
    margin-left: 2vw;
}

#header img {
    cursor: pointer;
    width: 3rem;
}

#header div a {
    text-decoration: none;
}

#header nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 2rem;
}

#header nav a:hover {
    color: rgb(0, 0, 0);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    min-height: 80vh;
}

#pokedados {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50vh;
    gap: 1rem;
}

#pokedados h2 {
    text-align: center;
    width: 100%;
}

#pokedados input {
    height: 5vh;
    border: solid 1px black;
    font-size: 1rem;
    background-color: #fff;
    padding-left: 1.2vh;
    padding-right: 1.2vh;
    outline: none;
    border-radius: 2px;
}

#pokedados button {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    width: 5vh;
    height: 5vh;
    border: none;
    background-color: black;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
}

#pokedados button img {
    width: 50%;
}

#pokedados button:hover {
    background-color: red;
}

#cards {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

#cards div.card {
    padding: 1rem;
    width: 18vh;
    height: 25vh;
    box-shadow: 5px 5px 5px 5px #00000020;
    cursor: pointer;
}

#cards div.card:hover {
    background-color: rgb(228, 246, 252);
}

#cards div.card img {
    width: 100%;
    max-height: 17vh;
    margin-top: 2rem;
    display: flex;
    margin: 1.8vh auto;
}

#cards div.card h2 {
    font-size: 2.5vh;
    text-align: center;
}

#cards div.card p {
    text-align: left;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 75vh;
}

#cadastroimg {
    width: 50%;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    border-right: solid 3px #00000020;;
}

#cadastroimg img {
    width: 70%;
}

#cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
}

#cadastro form {
    width: 70%;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 93, 93);
}

#cadastro form input {
    width: 100%;
    height: 4vh;
    border: solid 1px rgb(255, 177, 177);
    font-size: 1rem;
    background-color: #fff;
    padding-left: 1.2vh;
    padding-right: 1.2vh;
    outline: none;
    border-radius: 5px;
    margin-bottom: 1vh;
    color: rgb(255, 177, 177);
}

#cadastro form select {
    width: 100%;
    height: 4vh;
    border: solid 1px rgb(255, 177, 177);
    font-size: 1rem;
    background-color: #fff;
    padding-left: 1.2vh;
    padding-right: 1.2vh;
    outline: none;
    border-radius: 5px;
    margin-bottom: 1vh;
    color: rgb(255, 177, 177);
}

#cadastro form button {
    width: 100%;
    height: 4vh;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
    background-color: black;
}

#cadastro form button:hover {
    background-color: red;
}

#detalhe {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 70%;
    min-width: 350px;
    gap: 2rem;
    margin-bottom: 1rem;
}

#detalhe article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    min-height: 50vh;
    text-align: left;
}

#detalhe-img {
    justify-content: flex-end;
}

#detalhe-img img {
    width: 70%;
    min-width: 350px;
    align-items: flex-end;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
}

#detalhe-txt {
    justify-content: space-between;
    align-content: space-between;
}

#detalhe-txt p {
    width: 75%;
    min-width: 350px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: justify;
}

#detalhe-txt #status {
    width: 68%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 50%;
    background-color: rgb(119, 210, 252);
    padding: 1rem;
    border-radius: 10px;
    min-width: 340px;
}

#detalhe-txt #status h3 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
}

#detalhe-txt #status h4 {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

footer {
    background-color: black;
    color: #fff;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 920px) {
    #header .mobile {
        display: block;
        margin-right: 2vw;
    }

    #header .mobile img {
        width: 2rem;
    }

    #header .mobile ul {
        display: none;
        background-color: red ;
        position: absolute;
        right: 0;
        top: 5.6rem;
        width: 100%;
        text-align: center;
        border: 1px solid #fff;
        z-index: 1;
    }

    #header .mobile a {
        display: block;
        margin-left: 0;
    }

    #header .mobile ul li {
        width: 100%;
        list-style: none;
        text-decoration: none;
        padding: 0.5rem;
        border-bottom: 1px solid #fff;
        cursor: pointer;
        color: #fff;
    }

    #header .mobile ul li:hover{
        background-color: black;
    }

    #header .mobile ul li a {
        width: 100%;
        margin: 0;
        padding: 0;
        color: #fff;
    }

    #header .desktop {
        display: none;
    }

    #cadastroimg {
        display: none;
    }

    #detalhe {
        flex-direction: column;
    }

    #detalhe article {
        width: 90%;
    }

    #detalhe-img {
        justify-content: center;
    }

    #detalhe-txt {
        justify-content: center;
        align-content: space-between;
        align-items: center;
        text-align: center;
        width: 90%;
    }

    #detalhe-txt #status {
        width: 90%;
    }

    #detalhe-txt p {
        margin-bottom: 0;
    }
}